@page "/users/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create new Users</h3>
<br />

<UserFormComponent ButtonText="Create" OnValidSubmit="CreateUser" user="user" />

@code {
    User user = new User();

    private async Task CreateUser()
    {
        await _client.PostAsJsonAsync(Endpoints.UsersEndpoint, user);
        _navManager.NavigateTo("/users/");
    }

}
