@inject NavigationManager Navigation
<link rel="stylesheet" href="~/css/app.css">
 ﻿<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #A3B18A;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SWAPPY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav w-100 justify-content-between mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="users"><span class="oi oi-people"></span>User</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="categories"><span class="oi oi-grid-four-up"></span>Categories</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="products"><span class="oi oi-basket"></span>Products</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="cartitems"><span class="oi oi-cart"></span>Cart</NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="authentication/profile">Hello, @context.User.Identity?.Name!</NavLink>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="authentication/register">Register</NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="authentication/login">Log in</NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void BeginLogOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout", "/");
    }
}